/* CUSTOM CSS FOR OTREE */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header {
    margin: 0;
    padding: 0;
}
.otree-body {
    padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doors {
  display: flex;
}

.door {
  background: #fafafa;
  width: 100px;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
    border: 1px solid #000
}

.boxes {
  transition: transform 1s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

/* RESPONSIVE SETUP */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .ugm-logo-size {
        width: 40%;
    }

    .bi-logo-size {
        width: 80%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
    .ugm-logo-size {
        width: 25%;
    }

    .bi-logo-size {
        width: 40%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
    .ugm-logo-size {
        width: 20%;
    }

    .bi-logo-size {
        width: 35%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .ugm-logo-size {
        width: 20%;
    }

    .bi-logo-size {
        width: 35%;
    }
}

@media only screen and (min-width: 1366px) {
    .ugm-logo-size {
        width: 20%;
    }

    .bi-logo-size {
        width: 35%;
    }
}