{% extends "global/Page.html" %}
{% block styles  %}
    <link href="{{ static 'fontawesome/css/all.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/solid.css' }}" rel="stylesheet"/>
    <link href="{{ static 'fontawesome/css/brands.css' }}" rel="stylesheet"/>
{% endblock %}
{% block title  %}
    <title>Digital Payment Experiment</title>
{% endblock %}
{% block content %}
    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-success bg-gradient">
            <i class="fa-solid fa-check me-1"></i>
            <span>Lanjut menuju Ronde {{ next_round_number }}</span>
        </button>
    </div>
{% endblock %}