{% block styles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous">
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet"/>
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet"/>
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet"/>
    <link href="{% static 'global/custom_css.css' %}" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block title  %}
    <title>Eksperimen Selesai</title>
{% endblock %}

{% block content %}
    <div class="container p-0">
        <div class="card">
            <div class="card-header">
                <h4 class="m-0">Eksperimen Telah Berakhir</h4>
            </div>
            <div class="card-body">
                Terima kasih atas partisipasi Anda mengikuti eksperimen ini. Pembayaran akan dilakukan sesuai dengan metode pembayaran yang telah Anda pilih sebelumnya. Silahkan periksa dan catat informasi pembayaran Anda di bawah ini.
                <div class="table-responsive mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <th>Kode Peserta Anda</th>
                            <th>Pembayaran Anda</th>
                        </thead>
                        <tbody class="fw-bold">
                            <tr>
                                <td>{% player.kode_peserta %}</td>
                                <td>{% total_pembayaran %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}